body {

}

.btn-orange {
    color: #FFF;
    background-color: #FF9340;
    border-color: #FF9340;
    border-radius: 2px;
    font-weight: 600;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}


/*Form Wizard*/

.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 12px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 20px; height: 20px; display: block; background: #fbe8aa; top: 25px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 6px; height: 6px; background: #fbbd19; border-radius: 50px; position: absolute; top: 7px; left: 7px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 4px; box-shadow: none; margin: 18px 0; background: #bebebe;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #d4d4d4;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/*Backend Provider Setting */

.settings .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #009D91;
}

.settings  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

.settings #exTab3 .tab-content .table {
    color : #535353;
    background-color: #fff;
    padding : 15px 15px;
}

.settings #exTab3 .tab-content .inner-panel {
    padding : 25px;
}

.settings #exTab3 .tab-content {
    border: 1px solid #009D91;
}


.settings #exTab3 .tab-pane {
   padding-top: 20px;
}


.settings label {
    color : #a79f9f;

}

.settings .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #009D91;
}

/*END Backend Provider Setting */

.dashboard .panel-body .disabled i {
    font-size: 20px;
    padding-bottom: 10px;
    color: #d4d4d4;
}

.dashboard .panel-body  i {
    font-size: 20px;
    padding-bottom: 10px;
    color: #FF9340;
}

.dashboard .panel-body i.fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #121212;
    padding: 0.5em 0.6em;
}


.dashboard .panel-body a:hover {
    color: #00665E;
}

.dashboard a.panel-btn {
    padding: 35px 25px;
    margin:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard .btn-outline-grey {
    color: #a79f9f;
    background-color: #fff;
    border-color: #a79f9f;
    border-radius: 2px;
    font-weight: 600;
}

.dashboard .btn-outline-orange {
    color: #FF9340;
    background-color: #fff;
    border-color: #FF9340;
    border-radius: 2px;
    font-weight: 600;
}

.dashboard .btn-group-lg>.btn, .btn-lg {
    padding: 20px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 4px;
}

.dashboard .navbar-default {
    background-color: #f8f8f8;
    border-color: #a79f9f;
}

.dashboard .panel-primary {
    border-color: #a79f9f;
}

.dashboard .panel-body .btn:not(.btn-block) {
    width: 175px;
    height: 140px;
}

.dashboard .panel-primary>.panel-heading {
    color: #fff;
    background-color: #009D91;
    border-color: #009D91;
}

.dashboard .shortcuts-boxes{
    text-align: center;
    padding: 25px 0px 25px 0px;
}

.dashboard .modal-header{
    color: #fff;
    background-color: #009D91;
    border-color: #009D91;
}

.dashboard .modal-dialog {
    width: 800px;
    margin: 30px auto;
}


.contract-types .panel-body .disabled i {
    font-size: 20px;
    padding-bottom: 10px;
    color: #d4d4d4;
}

.contract-types .panel-body i {
    font-size: 20px;
    padding-bottom: 10px;
    color: #FFB073;
}



.contract-types .panel-body i.fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #121212;
    padding: 0.5em 0.6em;
}

.contract-types .panel-body a:hover {
    color: #00665E;
}

.contract-types .panel-primary {
    border: 0px;
}

.contract-types a.panel-btn {
    padding: 35px 25px;
    margin:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contract-types .btn-outline-grey {
    color: #a79f9f;
    background-color: #fff;
    border-color: #a79f9f;
    border-radius: 2px;
    font-weight: 600;
}

.contract-types .btn-outline-orange {
    color: #FF9340;
    background-color: #fff;
    border-color: #FF9340;
    border-radius: 2px;
    font-weight: 600;
}

.contract-types .btn-group-lg>.btn, .btn-lg {
    padding: 20px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 4px;
}

.contract-types .navbar-default {
    background-color: #f8f8f8;
    border-color: #a79f9f;
}

.contract-types .panel-body .btn:not(.btn-block) {
    width: 175px;
    height: 140px;
}

.contract-types .panel-primary>.panel-heading {
    color: #fff;
    background-color: #009D91;
    border-color: #009D91;
}

.contract-types .shortcuts-boxes{
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.green_darker{
    color: #00665E;
}

.green_dark{
    color: #1D766F;
}

.green{
    color: #009D91;
}

.green_light{
    color: #33CEC3;
}

.green_lighter{
    color: #5DCEC6;
}

.orange_darker{
    color: #A64800;
}

.orange_dark{
    color: #BF6E30;
}

.orange{
    color: #FF6F00;
}

.orange_light{
    color: #FF9340;
}

.orange_lighter{
    color: #FFB073;
}


/*-Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {

    .panel-body .btn:not(.btn-block) {
        width: 100%;
        height: 120px;
        margin-bottom: 10px;
    }


}