h1{

}

.plan-preview{
    border: 1px solid #535353;
    min-height: 650px;
}

.menu-icons {

}

.menu-icons i{
     font-size: 15px;
     color: #535353;
     padding: 5px;
}

.menu-icons .cancel-plan i{
    color: #dd331a;
}

.menu-icons .save-plan i{
    color: #fff;
}

.menu-icons .save-close i{
    color: #6c757d;
}

.menu-icons button{
    width: 200px;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 75px;
    padding-top: 0px;
}

.section-heading {
    padding-bottom: 0px;
}

/* Arrow Navigation */

.sw-theme-arrows>ul.step-anchor {
    display: block;
    border: 0 solid #ccc!important;
    padding: 0;
    background: #f5f5f5;
    border-radius: 5px;
    list-style: none;
    overflow: hidden;
    margin-top: 0px;
}

.sw-theme-arrows>ul.step-anchor>li.active>a {
    border-color: #BF5700!important;
    color: #fff!important;
    background: #BF5700!important;
}

.sw-theme-arrows>ul.step-anchor>li.active>a:after {
    border-left: 30px solid #BF5700!important;
}

.sw-theme-arrows>ul.step-anchor>li>a {
    width: 278px;
}

.border-content{
    background-color: #ffffff;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    outline: none;
    padding: 25px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 600;
}

.company{
    padding-top:20px;
}

.green h5{
    color: #006600;
}

.clients{
    padding-top:20px;
}


.logo-hint{
    font-size: 10px;
    color: #1f1b1b;
}

.error{
    color: #bd2130;
    padding-left: 5px;
    padding-top:5px;
}


.btn-classic{
    color: #fff;
    background-color: #006600;
    border-color: #006600;
    width: 200px;
}

.btn-alternative{
    color: #fff;
    background-color: #ff9046;
    border-color: #ff9046;
    width: 200px;
}

.btn-disable{
    color: #fff;
    background-color: #9d959a;
    border-color: #9d959a;
    width: 200px;
}

.prev-btn{
    width: 120px;

}

.next-btn{
    width: 120px;
}

.skip-btn{
    width: 120px;
}




.modal-expand{
    max-width: 900px;
}

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: open-plans-left 1.2s linear forwards 1.8s;
}

.progress.blue .progress-right .progress-bar{
    animation: open-plans-right 0.5s linear forwards 0.8s;
}

.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

.ready-icon{
    padding-top: 30px;
    color: #006600;
    font-size: 160px;
    opacity: 0.5;
}